// replace with font what you use and configure in ./gulpfile.js

@font-face {
  font-family: "Rubik";
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url("./../../../dist/fonts/rubik/rubik-all-400-normal.woff")
    format("woff");
}

font-face {
  font-family: "Rubik";
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url("./../../../dist/fonts/rubik/rubik-all-500-normal.woff")
    format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("./../../../dist/fonts/rubik/rubik-all-700-normal.woff")
    format("woff");
}
